<h1>Log In</h1>
<%= form_with url: "/login" do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log In" %>
<% end %>

<%= link_to "Log In via Google", '/auth/google_oauth2' %>