<!DOCTYPE html>
<html>
  <head>
    <title>JotAm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  
    <div class="container">
    <%= yield %>
    <% if !logged_in? %>
       <%= link_to "Sign Up", '/signup' %> |
       <%= link_to "Log In", '/login' %> |
       <%= link_to "Log In via Google", '/auth/google_oauth2' %>
    <% else %>
      <%# <%= link_to 'My Lists', user_list(@user) %>
      <a href="/users/<%=current_user.id %>/lists">My Lists</a>
      | <%= link_to "Log Out", '/logout', method: :delete %>
    <% end %>
   </div>

  </body>
</html>
